@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    height: 100%;
    background: #081b29;
    
}

.heading{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    font-size: 40px;
    width: 35%;
    padding: 1rem;
    color: white;
    border: 1px solid #0ef;
    border-radius: 40px;
    box-shadow: 0 0 5px cyan,
    0 0 5px cyan, 0 0 5px cyan,
    0 0 5px cyan,0 0 5px cyan;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 35%;
    border: 2px solid #0ef;
    border-radius: 15px;
    padding: 2rem;
    width: 30%;
    box-shadow: 0 0 5px cyan,
    0 0 5px cyan, 0 0 5px cyan,
    0 0 5px cyan,0 0 5px cyan;

}

.entry{
    width: 300px;
    padding: 10px;
    font-size: 20px;
    margin: 5px;
    margin-right: 25px;
    border: 2px solid #0ef;
    border-radius: 15px;
    background-color: #081b29;
    color: #ededed;
    outline: none;
}

.msg{
    color:#ededed;
    font-size: 1rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.login-msg{
    display: block;
    color:#0ef;
    font-size: 1rem;
    text-align: center;
}
.btn{
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
    padding: 12px 28px;
    margin-top: 20px;
    background: #0ef;
    border-radius: 20px;
    font-size: 15px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 10px #0ef,
    0 0 10px #0ef;
}

.btn:hover{
    box-shadow: 0 0 10px cyan,
    0 0 10px cyan, 0 0 10px cyan,
    0 0 10px cyan,0 0 10px cyan;
}
@media screen and (min-width: 320px){
    .heading{
        font-size: 1.2rem;
        text-align: center;
        margin: 25px auto;
        width: 80%;
    }
    .form{
        width: 80%;
        margin-left: 10%;
        box-shadow: 0 0 5px cyan,
        0 0 5px cyan, 0 0 5px cyan,
        0 0 5px cyan,0 0 5px cyan;
        
    }
    .entry{
        width: 210px;
        padding: 8px;
        font-size: 18px;
        margin: 5px;
        
       
    }
}

@media screen and (min-width: 768px){
    .heading{
        font-size: 30px;
        text-align: center;
        margin: 35px auto;
        width: 60%;
    }
    .form{
        width: 55%;
        margin-left: 22.3%;
        box-shadow: 0 0 5px cyan,
        0 0 5px cyan, 0 0 5px cyan,
        0 0 5px cyan,0 0 5px cyan;
        
    }
    .entry{
        width: 250px;
        padding: 12px;
        font-size: 18px;
        margin: 5px;
       
    }
}

@media screen and (min-width: 992px){
    .heading{
        font-size: 30px;
        text-align: center;
        margin: 45px auto;
        width: 55%;
    }
    .form{
        width: 50%;
        margin-left: 24.4%;
        box-shadow: 0 0 5px cyan,
        0 0 5px cyan, 0 0 5px cyan,
        0 0 5px cyan,0 0 5px cyan;
        
    }
    .entry{
        width: 280px;
        padding: 15px;
        font-size: 20px;
        margin: 5px;
       
    }
}

@media screen and (min-width: 1200px){
    .heading{
        font-size: 30px;
        text-align: center;
        margin: 45px auto;
        width: 35%;
    }
    .form{
        width: 30%;
        margin-left: 35%;
        box-shadow: 0 0 5px cyan,
        0 0 5px cyan, 0 0 5px cyan,
        0 0 5px cyan,0 0 5px cyan;
        
    }
    .entry{
        width: 300px;
        padding: 15px;
        font-size: 20px;
        margin: 5px;
       
    }
}